@{
    ViewData["Title"] = "Home Page";
}

<nav>
    <button> <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Porteiro</a></button>
    <button> <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Proprietario</a></button>
    <button> <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Sindico</a></button>
</nav>
<div class="text-center">
    <img src="https://brzempreendimentos.com/uploads/c698f078dc926a38c78bef4d0f486f16.jpg" class="img-fluid" alt="Imagem responsiva">
</div>
