
<nav>
    <button onclick="showSolicitacoes()">Solicitações</button>
    <button onclick="carregarCadastroUsuarios()">Cadastro De usuário</button>
    <button onclick="carregarCadastroMoradia()">Cadastro de Moradia</button>
    <button onclick="carregarCadastroAreasComuns()">Cadastro de Area Comum</button>
    <button onclick="showReuniao()">Reuniao</button>

</nav>
<div id="exibicao"></div>
<script type="text/javascript">

    function carregarCadastroUsuarios() {

        $.get('@Url.Action("Listagem", "Usuarios")', {}, function (data) {

            $("#exibicao").empty();
            $("#exibicao").html(data);

        });
    }

    function carregarCadastroMoradia() {

        $.get('@Url.Action("Listagem", "Moradias")', {}, function (data) {

            $("#exibicao").empty();
            $("#exibicao").html(data);

        });
    }

    function carregarCadastroAreasComuns() {

        $.get('@Url.Action("Listagem", "AreaComums")', {}, function (data) {

            $("#exibicao").empty();
            $("#exibicao").html(data);

        });
    }
        function carregarCadastroReuniao() {

            $.get('@Url.Action("Listagem", "Reuniao")', {}, function (data) {

                $("#exibicao").empty();
                $("#exibicao").html(data);

            });
        }

</script>
