<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CondominioInteligente</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CondominioInteligente.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="d-flex justify-content-around">
            <div class="align-self-center" >
                <button class="botao-home" onclick="irParaHome()">Home </button>
            </div>
            <h1 class="  flex-grow-1">Condomínio Inteligente</h1>
        </div>

    </header>

    <nav>
        <button> <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuários</a></button>
        <button> <a class="nav-link text-dark" asp-area="" asp-controller="AreaComums" asp-action="Index">Áreas Comums</a></button>
        <button> <a class="nav-link text-dark" asp-area="" asp-controller="Documentoes" asp-action="Index">Documentações</a></button>
        <button> <a class="nav-link text-dark" asp-area="" asp-controller="Moradias" asp-action="Index">Moradias</a></button>
        <button> <a class="nav-link text-dark" asp-area="" asp-controller="Reuniaos" asp-action="Index">Reuniões</a></button>

    </nav>

    <main>
        @RenderBody()
    </main>
        <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - CondominioInteligente - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script>
    function irParaHome(){
        window.location.href = '/Home'
    }
</script>
</html>
