@model CondominioInteligente.Models.Usuario
<div class="row">
    <div class="container">
        <form asp-action="Create" class="template-content">

            <label for="name">Nome completo</label>
            <input type="text" id="name" required asp-for="Nome">
            <span asp-validation-for="Nome" class="text-danger"></span>


            <label for="tel">Telefone</label>
            <input type="phone" id="tel" required asp-for="Telefone">

            <label for="email">E-mail</label>
            <input type="text" id="email" required asp-for="Email">

            <label for="senha">Senha</label>
            <input id="senha" required asp-for="Senha">

            <select name="tipoUsuario" asp-for="CodTipoUsuario">
                <option value="1">Morador</option>
                <option value="2">Porteiro</option>
                <option value="3">Síndico</option>
            </select>
            <span asp-validation-for="CodTipoUsuario" class="text-danger"></span>

            <input class="openModalButton" type="submit" value="Cadastrar">
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
