@model CondominioInteligente.Models.Usuario


    <nav >
        <button onclick="showSolicitacoes()">Solicitações</button>
        <button onclick="showCadastroUsuario()">Cadastro De usuário</button>
        <button onclick="showCadastroMoradia()">Cadastro de Moradia</button>
        <button onclick="showAreasComuns()">Cadastro de Area Comum</button>
        <button onclick="showReuniao()">Reuniao</button>

    </nav>
<partial name="_CadastroCliente" model="new Usuario { CodTipoUsuario = 2}" 
/>