@model CondominioInteligente.Models.Moradia

<h4>Moradia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdentificadorMoradia" class="control-label"></label>
                <input asp-for="IdentificadorMoradia" class="form-control" />
                <span asp-validation-for="IdentificadorMoradia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodUsuario" class="control-label"></label>
                <select asp-for="CodUsuario" class ="form-control" asp-items="ViewBag.CodUsuario"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
