@model CondominioInteligente.Models.Moradia


<div>
    <h4>Moradia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificadorMoradia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificadorMoradia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proprietario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proprietario.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodMoradia">Alterar</a> |
    <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Voltar</a>
</div>
